{% extends 'principal.html'%}

{% block title %} Crear cita {% endblock %}
          
{% block styles %}
   <style>
        .login-container{
            widht:70%;
            margin:0 auto;
            padding:2rem;
        }
</style>
{% endblock %}
{% block content %}
<div class="login-sidebar">
</div>
<div class="login-content">
    <div class="login-card">
        <h1 class="login-title">Agregar Cita</h1>
        <form method="POST">
              {% csrf_token %}
         
               {{ form.as_p }} 
          <button class="login-btn">Gruardar Cita</button> 
    
        </form>
    </div>
</div>
  {% endblock %}

                        