{% load static %} 
<!DOCTYPE html>
 <html lang="es">
  <head>
       <meta charset="UTF8">
       <meta name="viewport"
 content="width=device=widht,initial-scale=1.0"/>
     <title>{% block title %}Iniciar Sesion {% endblock %}

     </title>
          <link rel="stylesheet" href="{% static 'mi_app/css/login.style.css' %}">
          {% block static %}{% endblock %}
  </head>
 <body>
     <div class="login-wrapper"> 

          <div class="login-sidebar"></div>
               <div class="login-content">

      
                    <div class="login-container">
                         <div class="login-card">
                            <h1 class="login-title">{% block title-page %} Para acceder a los clientes y citas inicie sesion {% endblock %} </h1>
    
                               {% block content%}
                                 <form class="login-form" method="POST">
      
                                  {% csrf_token %}
                                <div class="form-group">
                                 <label for="username" class="form-label">Username</label>  
                                 <input type="text" id="username" name="username" class="form-input"required>
                                </div>
                               <div ="form-group">
                                  <labelfor="password" class="form-label">Password</label>
                                   <input type="password" id="password" name="password" class="form-input" required>
                               </div>
                                   <button type="submit" class="login-btn">Iniciar Sesion</button>
          
    
                                </form>
                                {% endblock %}
                         </div>
                    </div>
               </div>
     </div>
  </body>

</html>