{% load static %} 
<html lang="es">
    <head>
         <div class="punto-infinito"></div>
        <meta charset="UTF8">
        <meta name="viewport"
         content="widht=device=widht,initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'mi_app/css/login.style.css' %}">
    <title>inivie cesion para operar </title>
  
 

 </head>
 <body>
      <div class="login-container">
    
    <form method="POST">
  
     {% csrf_token %}
   
      {{ form.as_p }} 

    <button type="submit">Iniciar Sesión</button>
    <br>
    <br>
    
         </form>

        </div>
    
 </body>

</html>