body{
    background-color: #350101;
}
.button {
    display: table;
    margin: 40px auto; /* Centrado perfecto con espacio arriba y abajo */
    
    padding: 10px 25px;
}
.button{
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #eb51b7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}    


h1{
    text-align: center;
}